body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

/*? NAVBAR SECTION  */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  nav {
    background-color: #f8f8f8;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #nav-links {
      margin-left: 28%;
    display: flex;
    align-items: center;
    
  }

  #nav-links a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
  }
  #icons >a> i{
   
    color: black;
  }
  
  #hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  #hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 2px 0;
  }

  #icons {
    display: flex;
    align-items: center;
  }

  #icons a {
    margin: 0 15px;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked + #nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 10px;
    background-color: #f8f8f8;
    text-align: center;
    z-index: 1;
    padding: 40px;
    line-height: 30px;
  }

  #menu-toggle:checked + #nav-links + #icons {
    display: flex;
  }

  @media (max-width: 950px) {
    #nav-links {
      margin-left: 20%;
    }
  }
  @media (max-width: 800px) {
    
    .header>.image{
        width: 100%;
        height: 500px;
        
    }
    .header>.image>img{
        width: 100%; 
        height: 500px;
       object-fit: fill;
    }

    .content>div>h1{
        font-size: 28px;
       }
       .content>div>p{
        font-size: 17px;
        width: 100%;
       }

       .content>div>h1{
        font-size: 20px;
       }
       .content>div>p{
        font-size: 12px;
        line-height: 20px;
       }
          .cardHolder{
             
              width: 100%;
              height: 100%;
          }
          .cardHolder>.card{
              width: 30%;
              height: 100%;
          }
          

    #nav-links {
      margin-left: 15%;
    }
  }
  @media (max-width: 500px) {

    .header>.image{
        width: 100%;
        height: 400px;
        
    }
    .header>.image>img{
        width: 100%; 
        height: 400px;
       object-fit: fill;
    }

    
   .content>div>h1{
    font-size: 20px;
   }
   .content>div>p{
    font-size: 12px;
    line-height: 15px;
   }
      .cardHolder{
          flex-direction: column;
          width: 100%;
          height: 100%;
      }
      .cardHolder>.card{
          width: 70%;
          height: 100%;
          margin: 10px;
      }
      
    #nav-links {
      display: none;

    }
    #hamburger {
      display: flex;
      margin-right: 10px;
    }

    #menu-toggle {
      display: none;
    }

    #menu-toggle:checked + #nav-links,
    #menu-toggle:checked + #icons {
      display: flex;
    }
  }
/*? NAVBAR SECTION END  */

/*? HEADER SECTION  */
.header{
    position: relative;
}
.image{
    width: 100%;
    height: 700px;
    
}
img{
    width: 100%; 
    height: 700px;
    object-fit:cover;
}
.content{
    position: absolute;
    top: 22%;
    left: 5%;
    background-color: rgb(240,104,94,.6);
    min-width: 250px;
    width: 39%;
    padding: 3%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.content h1{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    text-align: left;

}
.content p{
    color: white;
    text-align: left;
    width: 78%;
    line-height: 25px;
    
}
/*? HEADER SECTION END */

/*? CARD SECTION  */
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(100deg, #d565b2, #eac533);
    gap:20px ;
    padding: 50px;
}
.main> h1{
    color: white;
    font-size: 45px;
   font-stretch:extra-expanded;
}
.cardHolder{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    
}

.main > div> button{
    border: none;
    padding: 15px 60px;
    border-radius: 30px;
    font-size:larger;
    font-weight: bold;
    color: rgb(47, 45, 45);
    background-color: rgb(248, 177, 224);
    margin: 50px;

}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 18%;
    padding: 12px;
    text-align: center;
    color: rgb(47, 45, 45);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.card img{
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 50px;
}
/*? CARD SECTION END */
